*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    margin-top: 30px;
    width: 80%;
    margin-left: 10%;
    h1,h2{
        text-align: center;
        font-size: 25px;
        color: rgb(132, 156, 224);
    }
    h1.h1{
        span.nameholder{
            text-transform: capitalize;
            color: blueviolet;
        }
    }
    p.nameinitholder{
        height: 30px;
        // position: absolute;
        position: relative;
        width: 30px;
        border-radius: 50%;
        background-color: rgba(132, 212, 224, 0.442);
        padding: 10px 5px 20px 10px;
        margin-left: 45%;
        h1.username{
            position: absolute;
            top: 0;
        }
    }
    
}
main{
    
    .form-section{
        padding-top: 60px;
        width: 80%;
        margin-left: 10%; 
        form{
            width: 60%;
            margin-left: 20%;
            padding: 40px;
            background-color: rgba(132, 212, 224, 0.442);
            p.name{
                width: 100%;
                margin-top: 20px;
                margin-bottom: 10px;
                input{
                    width: 60%;
                    margin-left: 20%;
                    outline: none;
                    padding: 10px;
                    &:focus{
                        border:2px solid rgba(76, 76, 182, 0.561)
                    }
                }
            }
        } 
    }
}
p{
    display: block;
    color: white;
    
}
p.bgi{
    background-image: url("./assets/images/moghamo.png");
    
}